
.po-re{
    position: relative;
}
.img-size-times{
    /* width: 300px; */
    height: 300px;
    overflow: hidden;
    border-radius: 11px;

}
.img-size-times img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.Prayer-time{
    position: absolute;
    top: 160px;
    left: 10px;
    color: aliceblue;
    font-size: 35px;
}
.color-h1-intimer{
    color: #e4c887;
    font-weight: 600;
    font-size: 40px;
}